* {
  margin: 0;
  padding: 0;
}

.header-top {
  width: 100%;
  height: 78px;
  text-align: center;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
}

.menu-item-link {
  text-decoration: none;
  color: #ff0000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.main-img {
  display: block;
  width: 100%;
}

.article-text {
  padding: 28px 67.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.article-title {
  padding-top: 48px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}


.article-btn {
  display: block;
  width: fit-content;
  margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1.7999999523162842px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 43px;
  background: #FF0000;
  border-radius: 4px;
}

.footer-bottom {
  height: 108px;
}

.footer-text {
  text-align: right;
  padding-top: 48px;
  padding-bottom: 10px;
  padding-right: 105px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}